<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>247931870466-dmkoqsju5p87snvqerd1ps51oiekse07.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.247931870466-dmkoqsju5p87snvqerd1ps51oiekse07</string>
	<key>API_KEY</key>
	<string>AIzaSyDaNIYBUKAOBqg9dZzZqcNdoElJ-YF_c18</string>
	<key>GCM_SENDER_ID</key>
	<string>247931870466</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myChatApp</string>
	<key>PROJECT_ID</key>
	<string>my-app-chat-1db1b</string>
	<key>STORAGE_BUCKET</key>
	<string>my-app-chat-1db1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247931870466:ios:0e08ec019168c5bed6b61b</string>
</dict>
</plist>